<h1>Hello! Welcome to Bookmark Management!!!</h1>

<form action="/links">
  <input type="submit" value="View links">
</form>

<form action="/links/new">
  <input type="submit" value="Add Link">
</form>
